config.local
.env
settings.json

node_modules/

dist/
build/
out/

*.tmp
*.log
*.swp

.vscode/

cache/

*.pem 
*.key 
*.crt

*.result
*.coverage

Thumbs.db
.DS_Store

Basico_3-Planificador_de_tareas.docx